DATABASE_URL=postgresql+asyncpg://usuario:contraseña@localhost:5432/Cafeteria
ALEMBIC_DATABASE_URL=postgresql+psycopg2://usuario:contraseña@localhost:5432/Cafeteria
CORS_ORIGINS=http://localhost:3000
